@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #2683ab;
    --color-primary-dull: #2d5f75;
}
*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}
body{
    color : white;
    background-color: #09090B;

}


/* Light tracer */
.glow-hover {
  position: relative;
  transition: box-shadow 0.4s ease;
  border: 2px solid #222;
}

.glow-hover:hover {
  box-shadow: 0 0 12px #4f5354, 0 0 20px #29759a inset;
}

/*book-now */

}